# Java / Spring Boot
/target/
/*.iml
*.class
*.log
*.jar
*.war
*.ear

# Maven
.mvn/
!mvnw
!mvnw.cmd

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# macOS
.DS_Store

# Node.js / React
node_modules/
dist/
.vscode/
.env
npm-debug.log*

# Logs
logs/
*.log

ems-backend/src/main/resources/application.properties
